body{
  background-color: #f7f7f7;
  background-size: contain;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
#goalicon{
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40vw;
}
#background{
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
#header{
  margin: 0;
  padding: 0 5vw 0 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F3F3F3;
  box-shadow: 0 0 5px #707070;
  height: 15vh;
  z-index: 1;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}
#logos{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#header img{
  display: inline;
}
#globaltolocal{
  margin-left: -1vw;
  margin-top: -.5vw;
  height: 8vw;
}
#unanca{
  mix-blend-mode: darken;
  width: 5.7vw;
  height: 5.7vw;
  margin-top: .7vw;
}
#nav{
  width: 100%;
  margin-top: 4vw;
  text-align: right;
}
#nav a{
  margin: 1vw;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #707070;
}
p{
  font-size: 1.2rem;
  color: #707070;
  line-height: 1.25em;
  margin-top: 0;
  margin-bottom: .5em;
}
h1{
  font-size: 3rem;
  color: #707070;
  font-weight: 300;
  line-height: 1em;
  margin: 2vw 5vw;
}
h1 strong{
  text-transform: uppercase;
}
h1 i{
  font-weight: 400;
  font-style: normal;
}
h2{
  font-size: 1.8rem;
  text-transform:uppercase;
  margin: 0;
  color: #707070;
  position: relative;
}

h3{
  font-size: 1.5rem;
  font-style: italic;
  color: white;
  line-height: 1.05em;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-weight: 400;
}
.goaltext{
  margin: 1.5vw;
  visibility: hidden;
}

#goals{
  display: grid;
  max-width: 100vw;
  padding: 0;
  margin: 5vw;
  grid-template-columns: 14vw 14vw 14vw 14vw 14vw 14vw;
  grid-gap: .8vw;
}
.goal{
  width: 14vw;
  height: 14vw;
  transition-duration:.25s;
  background-size: 100%;
  background-attachment: local;
  background-repeat: no-repeat;
}

.goal img{
  height: 14vw;
  width: 14vw;
}

/*hover effects: general*/
.goal:hover .goaltext{
  visibility: visible;
  transition-delay: .25s;
}
.goal:hover img{
  visibility: hidden;
  height: 0;
  width: 0;
}
.goal:hover{
  width:28.8vw;
  height: 28.8vw;
  grid-column: span 2;
  grid-row: span 2;
  overflow-y: scroll;
  overflow-x: hidden;
  transition-duration: .25s;
}

#goal6:hover, #goal12:hover{
  z-index: 1;
  grid-row: auto;
  grid-column: auto;
  margin-left: -14.8vw;
  margin-bottom: -14.8vw;
}
#goal13:hover, #goal14:hover, #goal15:hover, #goal16:hover, #goal17:hover{
  z-index: 1;
  margin-top: -14.8vw;
}

#copyright{
background-color: #707070;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
#copyright img{
  width: 2vw;
}
#copyright p{
  margin-left: 2vw;
  text-align: center;
}
/*goal colors*/
#goal1{
  background-color: #e5243b;
}
#goalcontent{
  display: grid;
  grid-template-columns: 20vw 80vw;
  height: 85vh;
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100vw;
  overflow: hidden;
  background-image: url("img/dotgrid-01.png");
  background-size: contain;
}
#goalnav{
  height:85vh;
  overflow-y: scroll;
  padding: 1vw;
  background-color: white;
}
#goalmain{
  height: 85vh;
  overflow-y: scroll;
}
#quickfacts{
  width: 61.6vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-gap: .8vw;
  margin: .4vw 5vw 2vw 5vw;
}
.fact{
  width: 20vw;
  height: 20vw;
  background-color: #e5243b;
  display: FLEX;
  flex-direction: row;
  justify-content: center;
}
.fact p{
  color: white;
  font-size:1.5rem;
  margin: 1vw;
}
.text{
align-self: flex-start;
}
.number span{
  font-size: 6rem;
  display: block;
}
.number{
  text-align: center;
  font-size:1.5rem;
  align-self: center;
}
#content{
  margin-left: 5vw;
  display: grid;
  grid-template-columns: 40.8vw 20vw;
  grid-gap: .8vw;
}
.columnimg{
  width: 20vw;
  grid-column: 2/3;
  grid-row: span 2;
}
.leadimg{
  width: 61.6vw;
  margin: 0 0 2vw 0;
  grid-column: 1/3;
}
#content p, #content h2{
  grid-column: 1/2;
}

.target{
  font-size: 1rem;
  font-weight: 500;
  color: #196FA1;
  line-height: 1.25em;
  display: block;
  margin-bottom: 1vw;
}
.toggle{
 display: none;
}
.collapsible{
  max-height: 0;
  overflow: hidden;
  transition-duration:.25s;
}
.indicatorlist{
  margin: 0 0 1vw 0;
  padding-left: 1vw;
  border-left: 1px solid #196FA1;
}
.indicatorlist a{
  display: block;
  margin-top: 1vw;
  color: #196FA1;
  text-decoration: none;
}
.toggle:checked + .target + .collapsible{
  max-height: 100vh;
  transition-duration: .25s;
}
.toggle:checked + .target{
  margin-bottom: 0;
  transition-duration: .25s;
}
#proxyindicators{
  grid-column: 2/3;
  grid-row: span 2;
}
#proxyindicators a{
  display: block;
  margin-top: 1vw;
  color: #196FA1;
  text-decoration: none;
  font-weight: 500;
}
#proxyindicators div{
  margin: 0 0 1vw 0;
  padding-left: 1vw;
  border-left: 1px solid #196FA1;
}
